body {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Lobster", cursive;
}

h2 {
	color: #505052;
}

header h2 {
	color: #cec8ff;
}

.site-footer {
	background-image: linear-gradient(#cec8ff, white);
	padding: 20px 0;
}

.jumbotron {
	padding: 30px;
	background-image: linear-gradient(to right, #000000, #2a2a2b, #3f3e3f);
	color: white;
	margin: 0;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.navbar {
	background-color: burlywood;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding: 10px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
	border: solid #3f3f3f;
}

#carouselButton {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}
